body {
    background-color: rgba(16, 16, 16, 0.94);
}

.parallax {
    width: 350px;
    margin: 0 auto;
    perspective: 500px;
    font-weight: 600;
}

.text-parallax {
    width: 320px;
    transform-style: preserve-3d;
    animation: 30s infinite linear test-animation;
    line-height: 150%;
    text-align: center;
    font-size: 11px;
    color: yellow;
    font-weight: 600;
}
@keyframes test-animation {
    0% {
        margin-top: 145vh;
        transform: scale3d(6, 6, 1)   perspective(500px);
        perspective-origin: center center;
    }

    100% {
        margin-top: 20%;
        transform: scale3d(1, 1, 1) perspective(500px);
        perspective-origin: center center;
    }
}
